#!/usr/bin/make -f

export JAVA_HOME?=/usr/lib/jvm/java-1.7.0-openjdk-amd64
export PREFIX=/usr
export SYSCONFDIR=/etc/kafka
export SCALAVERSION=2.9.2
export VERSION=0.8.2.0

%:
	dh $@

override_dh_install:
	dh_install
	# make install installs files into debian/tmp.
	# These files are part of the kafka-common package.
	mkdir debian/tmp
	tar xf ../kafka_$(SCALAVERSION)-$(VERSION).tgz -C debian/tmp --strip-components=1
	cp -v $(CURDIR)/debian/tmp/libs/*                $(CURDIR)/debian/kafka-common/usr/share/kafka/

	# These files are part of the kafka-client package.
	cp -v $(CURDIR)/debian/tmp/config/tools-log4j.properties $(CURDIR)/debian/kafka-client/etc/kafka/
	cp -v $(CURDIR)/debian/tmp/config/log4j.properties       $(CURDIR)/debian/kafka-client/etc/kafka/

	# These files are part of the kafka-server package.
	cp -v $(CURDIR)/debian/tmp/config/server.properties      $(CURDIR)/debian/kafka-server/etc/kafka/
	cp -v $(CURDIR)/debian/tmp/config/zookeeper.properties   $(CURDIR)/debian/kafka-server/etc/kafka/

	# These files are part of the kafka-mirror package
	# cp -v $(CURDIR)/debian/tmp/etc/kafka/mirror                 $(CURDIR)/debian/kafka-mirror/etc/kafka/

override_dh_installinit:
	# Install kafka-server.kafka init.d and default scripts under the name 'kafka'.
	dh_installinit --name=kafka

	# Install kafka-mirror init.d and default scripts under their default name 'kafka-mirror'.
	dh_installinit

